a {
  text-decoration: none;
}

.a-text {
  color: purple;
  font-family: $font-family-title;
}

.m-shadow {
  box-shadow: 3px 3px 5px gray;
}

.a-margin-top{
  margin-top: 100px;
}

.a-margin-left{
  margin-left: 20px;
}

.a-text__left{
  text-align: left;
}

.a-display__none{
  display: none;
}